body {
    font-size: 14px;
    font-weight: 300;
    min-width: 150px;
    max-width: none !important;
    background-color: #f6f9fe;
    height: 100%;
    min-height: 400px;
    max-height: none;
    font-family: 'Poppins', serif;
}

label {
    font-weight: 600;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    color: #00030e;
    letter-spacing: 0.5px;
}

input.form-control::-webkit-input-placeholder { /* Chrome */
    color: #d4e2f3;
}

input.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #d4e2f3;
}

input.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #d4e2f3;
    opacity: 1;
}

input.form-control:-moz-placeholder { /* Firefox 4 - 18 */
    color: #d4e2f3;
    opacity: 1;
}

.alert {
    background-color: transparent !important;
    border: none !important;
}



.riva-label {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.5px;
    text-align: left;
    font-weight: 600;
    color: #00030e;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-top: 10px;
}

.wrapper {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    min-height: 150px;
    max-height: none;
}

    .wrapper > div {
        width: 100%;
        max-width: none !important;
        height: 100%;
        max-height: none;
    }

    .wrapper h1 {
        font-size: 16px;
        font-weight: 600;
        margin-left: 20px;
        margin-bottom: 15px;
        letter-spacing: 0.5px;
        text-align: left;
        color: #00030e
    }

    .wrapper img {
        max-width: 480px;
    }

.logo {
    margin-bottom: 10px;
}


/* ----- Login / Reset Password ----- */

.riva-form {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
}


    .riva-form .form-control {
        margin: 0;
        width: 100%;
        font-size: 16px;
        border-radius: 0;
        max-width: none;
        text-align: left;
        height: 65px;
        background-color: #ffffff !important;
        padding: 15px 20px 15px 20px;
        border-color: #d4e2f3;
        border-width: 0 0 1px 0;
        border-collapse: collapse;
    }

label.label-big {
    font-size: 16px;
    font-weight: 500;
}

label.label-sub {
    font-size: 12px;
    font-weight: 400;
    color: #586d8f;
    margin-bottom: 0;
}

.riva-form .form-control:read-only:focus,
.riva-form .form-control:read-only:hover,
.riva-form .form-control:read-only {
    color: black;
    font-weight: 400;
    border: 1px solid #d4e2f3 !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    cursor: pointer !important;
    box-shadow: none !important;
}

.form-group, .btn-block, #infoBlock, #alertBlock {
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin: 0;
    width: 100%;
    max-width: none;
}


input:-webkit-autofill,
.riva-form input.form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 0 white inset !important;
}

.riva-form .form-control:focus,
.riva-form .form-control:hover,
.riva-form .form-control:active,
.riva-form .form-control {
    text-align: left;
    box-shadow: none !important;
}



#signInButton, #cancelLoginButton {
    margin-bottom: 10px;
}

.riva-form input[type=submit],
.riva-form button[type=submit] {
    margin-top: 40px;
    padding: 10px 40px;
    min-width: 100px;
    max-width: 250px;
    position: static;
    background-color: #1d7eee;
    color: white;
    height: 55px;
    border-radius: 55px;
    font-size: 20px;
    font-weight: 800;
    border: none;
    letter-spacing: 1.1px;
}

#loginFormRegister, #alreadyUser, #goToLogin {
    border: none;
    background-color: transparent;
    color: #1d7ded;
    margin: 10px auto 10px auto;
    font-size: 18px;
    line-height: 25px;
}

#loginFormReset {
    border: none;
    background-color: transparent;
    color: #1d7ded;
    margin: 30px 10px;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 20px;
}

.bottom-block {
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;
}

/* ----- Permissions ----- */
.permissionElem {
    margin: 0px;
    padding-bottom: 5px;
}

    .permissionElem b {
        margin: auto 2px;
    }

.separator {
    overflow: hidden;
    height: 20px;
}

    .separator:after {
        content: '';
        display: block;
        margin: -25px auto 0;
        width: 75%;
        height: 23px;
        border-radius: 125px / 12px;
    }

#mainSeparator:after {
    width: 100%;
    height: 25px;
}

#permissionsContainer {
    display: none;
    font-size: 15px;
}

    #permissionsContainer img {
        max-width: 56px;
        max-height: 56px;
    }

#permissionsRequestedBy {
    font-size: 18px;
    margin: 10px auto;
}

    #permissionsRequestedBy b {
        margin: auto 5px;
    }


/* ----- Others ----- */
#infoBlock, #alertBlock, #loaderContainer {
    display: none;
    margin-top: 10px;
}

@media (max-width: 767px) {
    /*.blockAccordion{*/
    /*margin: 0 -30px;*/
    /*}*/
    #buttonWrapper {
        text-align: center;
        margin-bottom: 15px;
    }
}

/*#simple-page-wrapper select > optgroup, #simple-page-wrapper select > option {*/
/*text-align: left;*/
/*padding: 0 10px;*/
/*}*/

/*#simple-page-wrapper select > optgroup option {*/
/*margin: 0 -10px; !* ie. compensate optgroup padding *!*/
/*}*/

/*#validation-form-wrapper {*/
/*margin-right: 0 !important;*/
/*}*/

/*.btn_register{*/
/*margin-top: 0px;*/
/*background-color: rgba(0, 0, 0, 0);*/
/*border: 2px solid;*/
/*}*/

/*.signinhubContainer {*/
/*margin-bottom:35px;*/
/*}*/



/*.has-error span {*/
/*color: #FF423F;*/
/*}*/

/*.has-error .control-label, .has-error .help-block {*/
/*color: #FF423F;*/
/*}*/

/*.has-success .control-label, .has-success .help-block {*/
/*color: #20DD23;*/
/*}*/

/*#invitationtoken-form-container {*/
/*display:none;*/
/*}*/
