body {
  font-size: 14px;
  font-weight: 300;
  min-width: 200px;
  background-color: #eef0f2;
  font-family: 'Roboto',  sans-serif;
}

label {
  font-weight: 200;
}

.wrapper {
  margin: 0 auto;
  padding: 30px 10px;
  max-width: 480px;
  text-align: center;
}

.wrapper h1 {
  margin-bottom:30px;
  letter-spacing: 1px;
  font-weight: inherit;
}

.wrapper img {
  max-width: 480px;
}

.logo {
  margin-bottom:10px;
}


/* ----- Login / Reset Password ----- */
.form-group, .btn-block, #infoBlock, #alertBlock {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  text-align: center;
}

#signInButton, #cancelLoginButton {
  margin-bottom: 5px;
}

/* ----- Permissions ----- */
.permissionElem {
  margin: 0px;
  padding-bottom: 5px;
}

.permissionElem b {
  margin: auto 2px;
}

.separator {
  overflow:hidden; height:20px;
}
.separator:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 75%;
  height: 23px;
  border-radius: 125px / 12px;
}

#mainSeparator:after {
  width: 100%;
  height: 25px;
}

#permissionsContainer {
  display: none;
  font-size: 15px;
}

#permissionsContainer img {
  max-width: 56px;
  max-height: 56px;
}

#permissionsRequestedBy {
  font-size: 18px;
  margin: 10px auto;
}

#permissionsRequestedBy b {
  margin: auto 5px;
}


/* ----- Others ----- */
#infoBlock, #alertBlock, #loaderContainer {
  display:none;
  margin-top: 10px;
}

@media (max-width: 767px) {
  /*.blockAccordion{*/
    /*margin: 0 -30px;*/
  /*}*/
  #buttonWrapper {
    text-align: center;
    margin-bottom: 15px;
  }
}

/*#simple-page-wrapper select > optgroup, #simple-page-wrapper select > option {*/
  /*text-align: left;*/
  /*padding: 0 10px;*/
/*}*/

/*#simple-page-wrapper select > optgroup option {*/
  /*margin: 0 -10px; !* ie. compensate optgroup padding *!*/
/*}*/

/*#validation-form-wrapper {*/
  /*margin-right: 0 !important;*/
/*}*/

/*.btn_register{*/
  /*margin-top: 0px;*/
  /*background-color: rgba(0, 0, 0, 0);*/
  /*border: 2px solid;*/
/*}*/

/*.signinhubContainer {*/
  /*margin-bottom:35px;*/
/*}*/



/*.has-error span {*/
  /*color: #FF423F;*/
/*}*/

/*.has-error .control-label, .has-error .help-block {*/
  /*color: #FF423F;*/
/*}*/

/*.has-success .control-label, .has-success .help-block {*/
  /*color: #20DD23;*/
/*}*/

/*#invitationtoken-form-container {*/
  /*display:none;*/
/*}*/
